.erreur {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;

  h1 {
    height: 263px;
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    line-height: 410.69px;
    text-align: center;
    color: #ff6060;
    margin-top: -150px;
  }

  h3 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    color: #ff6060;
    text-align: center;
    margin-bottom: 80px;
  }

  a {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
    color: black;
  }

 
}
